x-service-provisioning-base: &provisioning-base
  build:
    args:
      GID: ${GID:-0}
      UID: ${UID:-0}
    context: Dockerfile.d/provisioning
  command:
    - zsh
    - -ic
    - |
      sleep infinity
  environment:
    CURRENT_ENV_NAME: ${CURRENT_ENV_NAME:-production}
  user: "${UID:-0}:${GID:-0}"
  volumes:
    - provisioning-home-developer:/home/developer
    - provisioning-home-root:/root # for macOS
    - /var/run/docker.sock:/var/run/docker.sock
    - ${HOME}/.ssh:/root/.ssh:ro # for macOS
    - ${HOME}/.ssh:/home/developer/.ssh:ro
    - ./config:/project/config
    - ./provisioning:/project/workspace
    - ./scripts:/project/scripts
    - ./tmp/provisioning:/tmp/provisioning
  working_dir: /project/workspace

services:
  provisioning:
    <<: *provisioning-base
version: "3.8"
volumes:
  provisioning-home-developer:
    driver: local
  provisioning-home-root:
    driver: local
